[user]
  email = xinube@gmail.com
  name = FelipeMonobe
[push]
  default = simple
[github]
  user = felipemonobe
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
